
body {
	background-color: #FBFBFD;
	color: rgb(30, 30, 30);
	font-family: 'Lora', serif;
	font-size: 17px;
	font font-weight: lighter;
}
img{
	width: 100px;
	border-radius: 50%;
} 
h1, h2, h3 {
	color: #F05454;
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: #03506F;
	font-size: 32px;
	}
h2 {
	color: #7ECE90; 
	font-size: 24px;
	font-weight: lighter;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #635BFF; 
	font-weight: 600;
	font-size: 16px;
}
a:hover{ color: black; }

.container{ 
   width: 700px;
   margin: 40px auto;
}	

.card-white{
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	background-color: white;
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
	background: none;
}

.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue: hover {
	color: white;
	background-color: black;
}
.list-inline {
	list-style: none;
	margin-right: 50px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: 6B72E1;
	margin: auto;
}

#intro p{
	margin-bottom: 40px;
}

@media (max-width: 500px) {
	.container{
		width: 400px;
	}
}
@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}